h6{
    color:rgb(73, 165, 42);
    font-size: 20px;
}

.cl{
    font-size: 90px; 
}

#e51{
    color:rgb(196, 63, 173);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; 
}

ul>li>ul>li{
    font-size: 50px; 
}