<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletJDBCDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JDBCDemo</display-name>
    <servlet-name>JDBCDemo</servlet-name>
    <servlet-class>com.sl.servlets.JDBCDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCDemo</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCInsertDemo</display-name>
    <servlet-name>JDBCInsertDemo</servlet-name>
    <servlet-class>com.sl.servlets.JDBCInsertDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCInsertDemo</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCCREATEnDROPDemo</display-name>
    <servlet-name>JDBCCREATEnDROPDemo</servlet-name>
    <servlet-class>com.sl.servlets.JDBCCREATEnDROPDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCCREATEnDROPDemo</servlet-name>
    <url-pattern>/create-db</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCPreparedStatementDemo</display-name>
    <servlet-name>JDBCPreparedStatementDemo</servlet-name>
    <servlet-class>com.sl.servlets.JDBCPreparedStatementDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCPreparedStatementDemo</servlet-name>
    <url-pattern>/JDBCPreparedStatementDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCStroredProcedureDemo</display-name>
    <servlet-name>JDBCStroredProcedureDemo</servlet-name>
    <servlet-class>com.sl.servlets.JDBCStroredProcedureDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCStroredProcedureDemo</servlet-name>
    <url-pattern>/JDBCStroredProcedureDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCDeleteProductDemo</display-name>
    <servlet-name>JDBCDeleteProductDemo</servlet-name>
    <servlet-class>com.sl.servlets.JDBCDeleteProductDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCDeleteProductDemo</servlet-name>
    <url-pattern>/delete-product</url-pattern>
  </servlet-mapping>
</web-app>