<div style="border: blue dotted 1px">

<div  [style.color]="product.isSpecial ? 'red': 'green'" >Name: <b> {{ product.name  }}</b></div>
<div >Price: {{ product.price }}</div>

<img name="img1" [src]="product.imageUrl" width=100 height="100" (click)="like($event,0)">

<div>Date Added: {{ product.dateAdded }}</div>

<span [class]="product.inStock? 'inStockClass' : 'outOfStockClass'" > IN STOCK </span>

<br><br>
<button name="button1" class="btn btn-primary" (click)="like($event, 1)"> Like </button>

<button name="button2" class="btn btn-primary" (click)="like($event, -1)"> UnLike </button>

</div>